.hero {
  margin-top: 60px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 18px;
  min-width: 120px;
  backdrop-filter: blur(10px);
}

button {
  margin-top: 15px;
  padding: 12px 24px;
  border: none;
  border-radius: 14px;
  cursor: pointer;

  background: linear-gradient(45deg, #ff4fd8, #7c5cff);
  color: white;
}
